@model IEnumerable<Library_Management_System.Models.LR_Category>

@{
    ViewBag.Title = "Categories List";
}
<script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#reqtbl').DataTable();
    });
</script>

<html>
<body>

    <div class="form-basic">

        <p>
            @Html.ActionLink("Create New", "Index")
        </p>
        <div class="table-responsive">
            <table style="width:100%;" class="table-responsive table-condensed table-bordered table-hover table-striped" id="reqtbl">
                <thead class="table-header">
                    <tr class=" headingStyle label-primary">
                        <th>
                            <strong>
                                Name
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Short Name
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Parent
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Activity
                            </strong>
                        </th>
                        <th>
                            <strong>
                                Actions
                            </strong>
                        </th>

                    </tr>
                </thead>
                <tbody class="table-body" id="tablebody">
                    @Html.Partial("_CategoryList", Model)
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>